html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-width: 320px;
    font-family: serif;
    font-weight: 400;
    background-color: #f0f0f3;
}

/* global */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    max-width: 1310px;
    padding: 0 100px;
    margin: 0 auto;
    width: 100%;
}

:root {
    --dots-offset: 70px;
}

/* phone */
.hero {
    position: relative;
}

.hero__container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.hero__phone {
    border-radius: 40px;
    width: 380px;
    box-shadow: 10px 10px 30px 0 rgba(128, 128, 136, 0.4), -10px -10px 30px 0 #fff;
}

.hero__phone-screen {
    width: 100%;
    height: 250px;
    border-radius: 30px 30px 0 0;
    background-color: #151515;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.02) 9%,
            transparent 9%);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;

    z-index: -999;
}

.hero__phone-numbers {
    margin-top: -10px;
    z-index: 1;
    height: 450px;
    background-color: #f0f0f3;
    border-radius: 15px;
}

/* decorations-background */
.decoration {
    position: absolute;
    z-index: -999;
    will-change: transform;
}

.dots-element1 {
    left: calc(60% + (100vw - 1310px) * 0.1);
    bottom: 410px;
    transition: left 0.8s ease-out;
}

.dots-element2 {
    left: calc(45% + (20vw - 1310px) * 0.3);
    bottom: 70%;
    transition: left 0.8s ease-out;
}

.cube {
    left: calc(65% + (100vw - 1310px) * 0.4);
    top: 10%;
    transition: left 0.4s ease-out;
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background: #f0f0f3;
    box-shadow: 10px 10px 30px 0 rgba(128, 128, 136, 0.4), -10px -10px 30px 0 #fff
}

.cube2 {
    left: 10%;
    top: 25%;
    transition: left 0.4s ease-out;
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background: #f0f0f3;
    box-shadow: 10px 10px 30px 0 rgba(128, 128, 136, 0.4), -10px -10px 30px 0 #fff
}

.ball {
    left: calc(80% + (100vw - 1310px) * 0.1);
    top: 70%;
    transition: left 0.5s ease-out;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    fill: #f0f0f3;
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 rgba(128, 128, 136, 0.4);
}

.ball2 {
    left: calc(10% + (40vw - 1310px) * 0.2);
    top: 80%;
    transition: left 0.5s ease-out;
    width: 380px;
    height: 380px;
    border-radius: 100%;
    fill: #f0f0f3;
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 rgba(128, 128, 136, 0.4);
}